.content-container {
  width: calc(100% - 30vh);
  overflow: auto;
}

.content-container::-webkit-scrollbar {
  width: 0.6rem;
}
.content-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.color-default {
  background-color: #535353;
}
